
section {
    padding: 2rem 1rem; /* Usando rem para melhor responsividade */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 1rem auto; /* Margem automática para centralizar */
    max-width: 800px; /* Limita a largura máxima da seção */
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

footer a {
    color: #42a5f5;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: calc(30% - 2rem); /* Ajusta a largura para permitir margens */
    min-width: 250px; /* Define uma largura mínima para os produtos */
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h3 {
    font-size: 1.2em;
    margin: 0.5rem 0;
}

.produto p {
    font-size: 1.1em;
    color: #333;
}

.produto button {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 0.5rem 1rem; /* Usando rem para melhor responsividade */
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #1565c0;
}

.btn-login {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem; /* Usando rem para melhor responsividade */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.btn-login:hover {
    background-color: #333;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .produto {
        width: calc(45% - 2rem); /* Ajusta a largura para telas menores */
    }
}

@media (max-width: 480px) {
    .produto {
        width: calc(100% - 2rem); /* Ajusta a largura para telas muito pequenas */
    }
}